.section01 li:first-child {
  /* 첫번째 요소 선택 */
  background: skyblue;
}

.section02 li:last-child {
  /* 마지막 요소 선택 */
  background: skyblue;
}

.section03 li:nth-child(6) {
  /* 6번째 요소 선택 */
  background: skyblue;
}

.section04 li:nth-child(odd) {
  /* 홀수 선택 */
  background: skyblue;
}

.section05 li:nth-child(even) {
  /* 짝수 선택 */
  background: skyblue;
}

.section06 li:nth-child(3n) {
  /* 세번째 요소마다 선택 */
  background: skyblue;
}

.section07 li:nth-child(3n + 2) {
  /* 두번째 요소부터 세번째 요소마다 선택 */
  background: skyblue;
}

.section08 li:nth-child(n + 6) {
  /* 6번부터 모든 요소 선택 */
  background: skyblue;
}

.section09 li:nth-child(-n + 3) {
  /* 1번부터 3번까지 요소 선택 */
  background: skyblue;
}

.section10 li:nth-child(n + 3):nth-child(-n + 6) {
  /* 3번부터 6번까지 요소 선택  */
  background: skyblue;
}

.section11 li:nth-last-child(3) {
  /* 끝에서 3번째 요소 선택 */
  background: skyblue;
}

.section12 li:nth-last-child(-n + 3) {
  /* 끝에서 3번째 요소까지 선택 */
  background: skyblue;
}

.section13 li:nth-last-child(3n + 3) {
  /* 끝에서 3번째 요소부터 세번째 요소마다 선택 */
  background: skyblue;
}

.section14 li:nth-last-child(n + 3) {
  /* 끝에서 3번째 요소부터 첫번째 요소까지 선택 */
  background: skyblue;
}

.section15 li:nth-last-child(n + 5),
.section15 li:nth-last-child(n + 5) ~ li {
  /* 그룹 내 형제요소가 5개 이상일 때 전체 선택 */
  background: skyblue;
}

.section16 li:nth-last-child(-n + 3):first-child,
.section16 li:nth-last-child(-n + 3):first-child ~ li {
  /* 그룹 내 형제요소가 3개 이하일 때 전체 선택 */
  background: skyblue;
}

.section17 li:not(:nth-child(3)) {
  /* 3번째 요소만 제외하고 전체 선택 */
  background: skyblue;
}

.section01 .group div:first-of-type {
  /* group 내 첫번째 div 요소 선택 */
  background: skyblue;
}

.section02 .group div:last-of-type {
  /* group 내 마지막 div 요소 선택 */
  background: skyblue;
}

.section03 .group span:nth-of-type(2) {
  /* 두번째 span 요소 선택 */
  background: skyblue;
}

.section04 .group p:nth-of-type(2n + 1) {
  /* 첫번째 p 요소 부터 두번째 p요소마다 선택 */
  background: skyblue;
}

.section05 .group p:nth-of-type(n + 3):nth-of-type(-n + 6) {
  /* 세번째 p 요소부터 전체선택 + 첫번째 p 요소부터 6개 선택의 교집합 */
  background: skyblue;
}
